<div class="container text-center mt-3">
<!-- Centered title -->
<h2> Resources: </h2>
</div>

<div class="container d-flex justify-content-center">
  <div class="card" style="width: 90%; max-width: 600px;">
    <div class="card-body">
      <p>In addition to Video Lectures, the following were used:</p>
      <ul>
        <li>Burchell, K. (2024). Constant Disconnection. Stanford University Press.</li>
        <li>Cabianca, P., Hammond, P., & Gutierrez, M. (2020, November 18). What is a Social Media Echo Chamber? Stan Richards School of Advertising & Public Relations. <a href="https://advertising.utexas.edu/news/what-social-media-echo-chamber" target="_blank">https://advertising.utexas.edu/news/what-social-media-echo-chamber</a></li>
        <li>Frankel, R., & Krebs, V. J. (2021). Human Virtuality and Digital Life. <a href="https://doi.org/10.4324/9781315146423" target="_blank">https://doi.org/10.4324/9781315146423</a></li>
        <li>Hall, P., & Ellis, D. (2023). A systematic review of socio-technical gender bias in AI algorithms. Online Information Review, 47(7). <a href="https://doi.org/10.1108/oir-08-2021-0452" target="_blank">https://doi.org/10.1108/oir-08-2021-0452</a></li>
        <li>Join The Collective. (2023, June 9). Blocked. Jointhecollective.com. <a href="https://www.jointhecollective.com/article/the-dangers-of-over-reliance-on-digital-communication" target="_blank">https://www.jointhecollective.com/article/the-dangers-of-over-reliance-on-digital-communication</a></li>
        <li>Lin, S. (Lamson). (2023, January). Access Electronic Resources. Yorku.ca. <a href="https://curio-ca.ezproxy.library.yorku.ca/en/catalog/bc32d70b-43ec-4425-b54c-430768398430" target="_blank">https://curio-ca.ezproxy.library.yorku.ca/en/catalog/bc32d70b-43ec-4425-b54c-430768398430</a></li>
        <li>Meng, J., & Dai, Y. (2021). Emotional Support from AI Chatbots: Should a Supportive Partner Self-Disclose or Not? Journal of Computer-Mediated Communication, 26(4). <a href="https://doi.org/10.1093/jcmc/zmab005" target="_blank">https://doi.org/10.1093/jcmc/zmab005</a></li>
      </ul>
    </div>
  </div>
</div>

<hr>
<div class="mt-3 d-flex justify-content-center">
  <%= link_to 'Home', root_path, class: 'btn btn-outline-success' %>
</div>
